
.ourstory-page{
   

        width: 1300px;
        height: 1000px;
        /* background-color: orange; */
       margin-right: 0;
       
      
    
}
.our-img img{
    
        width:100%;
        
}
